.footer-hover {
  text-decoration: none;
}

.footer-hover:hover {
  text-decoration: underline;
}

.impressum-hover {
  color: #EDBB3B;
}

.impressum-hover:hover {
  color: rgb(204, 204, 204);
}

.impressum-icon-hover {
  color: rgb(204, 204, 204);
}

.impressum-icon-hover:hover {
  color: #EDBB3B;
}
