h1{
  font-size: 12rem;
}

.landing-img{
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../../../../assets/images/landing-img.jpg") no-repeat center;
}

.btn-scroll-down{
  position: absolute;
  font-size: 3rem;
  border: 2px solid white;
  border-radius: 25%;
  animation: scrollDown 2s infinite;
}

@keyframes scrollDown {
  0% {
    bottom: 80px;
  }
  75% {
    bottom: 70px;
  }
  100% {
    bottom: 80px;
  }
}
