/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


* {
  scroll-behavior: smooth;
  color: rgb(204, 204, 204);
}

@media screen and (min-width: 786px) {
    button.carousel-control-next{
        padding-left: 70px !important;
    }

    button.carousel-control-prev{
        padding-right: 70px !important;
    }
}

button.carousel-control-next{
    padding-left: 10px;
}

button.carousel-control-prev{
    padding-right: 10px;
}

.carousel-inner{
    padding-left: 70px !important;
    padding-right: 70px !important;
}



