h1{
  font-size: 12rem;
}

.landing-img{
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../../../../assets/images/landing-img.jpg") no-repeat center;
}

.btn-scroll-down{
  position: absolute;
  bottom: 5rem;
  font-size: 3rem;
  border: 2px solid white;
  border-radius: 25%;
}
