<div class="p-4">
  <app-navbar title="Dark Patterns Arten"></app-navbar>
  <div class="container p-0 pt-4">
    <ngb-carousel [showNavigationIndicators]="false" [interval]="0" class="d-flex justify-content-center bg-primary rounded-5 p-4">
      <ng-template ngbSlide class="">
        <app-arten-card></app-arten-card>
      </ng-template>
      <ng-template ngbSlide class="d-flex justify-content-center">
        <app-arten-card></app-arten-card>
      </ng-template>
      <ng-template ngbSlide>
        <app-arten-card></app-arten-card>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

