<div class="p-4">
  <app-navbar title="Dark Patterns Arten"></app-navbar>
  <div class="container p-0 pt-4 h-100 d-flex align-items-center">
    <ngb-carousel [showNavigationIndicators]="false" [interval]="0" class="d-flex justify-content-center bg-primary rounded-5 w-100 py-5">
      <ng-template ngbSlide>
        <div class="row justify-content-center">
          <app-arten-card class="card col-4 bg-card"></app-arten-card>
          <app-arten-card class="card col-4 bg-card"></app-arten-card>
          <app-arten-card class="card col-4 bg-card"></app-arten-card>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row justify-content-center">
          <app-arten-card class="card col-4 bg-card"></app-arten-card>
          <app-arten-card class="card col-4 bg-card"></app-arten-card>
          <app-arten-card class="card col-4 bg-card"></app-arten-card>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<!--          TODO: something like this for the different dark patterns-->
<!--      <app-fruit-info [fruit]="selectedFruit"></app-fruit-info>-->
