*{
    color: white;
}

.carousel-inner{
    padding-left: 30px !important;
    padding-right: 30px !important;
}

button.carousel-control-next{
    padding-left: 20px !important;
}

button.carousel-control-prev{
    padding-right: 20px !important;
}
