<ng-container *ngIf="pattern">
  <div class="m-2">
    <div class="card-body text-center">
      <h2 class="card-title fw-bold mb-3 text-secondary">{{ pattern.patternName }}</h2>
      <p class="card-text mb-4">{{ pattern.shortDescription }}</p>
      <a class="btn btn-accent fw-bold" (click)="open()">CLICK ME</a>
    </div>
  </div>

  <ng-template #modal>
    <app-modal [modalTitle]="pattern.patternName">
      <app-modal-body>
        <p [innerHTML]="pattern.longDescription | keepHtml"></p>
      </app-modal-body>
    </app-modal>
  </ng-template>
</ng-container>
